<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<head>
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
    {{> siteHeader}}

    <div class="title">
        <h2>สวัสดีชาวโพดโพ</h2>
        <p>มาหาเรื่องคุยกันดีกว่า</p>
    </div>

    {{#each allPost}}
        <div class="card">
            <h4><a href="/post/{{ this.id }}">{{ this.title }}</a></h4>
            <p>
                <span>{{this.from}} | </span>
                <span>{{this.created_at_text}}</span>
            </p>
            {{#if this.commentsCount}}
                <p class="comment">{{this.commentsCount}} โพดโพ</p>
            {{else}}
                <p class="comment">ยังไม่มีใครมาโพดโพด้วยนะ</p>
            {{/if}}
        </div>
    {{/each}}

    {{> siteFooter}}
</body>
</html>