<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle=customTitle}}
<body>
    {{> siteHeader}}
    
    {{#if onePost}}
    <div class="wrapper">
        <div class="post-title">
            <h2>{{onePost.title}}</h2>
            <p>
                <span>{{onePost.from}} | </span>
                <span>{{onePost.created_at_text}}</span>
            </p>
            <p>{{onePost.content}}</p>
        </div>

        <hr>
        <form action="/post/{{ onePost.id }}/comment" method="post">
            <p>
                <textarea name="content" placeholder="โพดโพของคุณ" class="content">{{values.content}}</textarea>
            </p> 
            <p>
                <input type="text" name="from" placeholder="จากคุณ" value="{{values.from}}" class="from">
            </p>
            <p class="checkbox-box">
                <input type="checkbox" name="accepted" id="accepted">
                <label for="accepted">คุณจะยอมรับให้โพดโพฉบับนี้ของคุณออกสู่สาธารณะมั้ย</label>
            </p>
            {{#if errorMessage}}
                <p>{{errorMessage}}</p>
            {{/if}}
            <button>โพดโพ</button>
        </form>
        <hr>

        <div class="comment-wrapper">
            {{#if postComment}}
                <p class="count">{{postComment.length}} โพดโพ</p>
                {{#each postComment}}
                    <div class="comment-box">
                        <p>
                            <span>{{this.from}} | </span>
                            <span>{{this.created_at_text}}</span>
                        </p>
                        <p>{{this.content}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p>ยังไม่มีใครมาเลย คุณอยากเริ่มการโพดโพมั้ย</p>
            {{/if}}
        </div>
        {{else}}
            <p>ไม่มีใครโพดโพเรื่องนี้</p>
        {{/if }}      
    </div>
    {{> siteFooter}}
</body>
</html>